---
import type { CollectionEntry } from 'astro:content';
import readingTime from 'reading-time';
import { ThemeToggle } from '../components/react/ThemeToggle';
import { AppConfig } from '../config/app';
import Bio from '../partials/Bio.astro';
import PostNav from '../partials/layouts/PostNav.astro';
import { fromat_MMMM_dd_yyy } from '../utils/date-fns';
import BaseLayout from './Base.astro';

export type Props = {
  post: CollectionEntry<'posts'>;
};

const { title, description } = AppConfig;
const { post } = Astro.props;
const { data: postFrontmatter, body } = post;
---

<BaseLayout head={{ title: postFrontmatter.title, description }}>
  <header slot="header" class="tw-flex tw-items-center">
    <h3 class="tw-text-lg tw-font-semibold secondary-text">
      <a href="/">
        {title}
      </a>
    </h3>
    <ThemeToggle client:only="react" className="tw-ml-auto" />
  </header>
  <article
    slot="content"
    class="tw-prose dark:tw-prose-invert tw-max-w-3xl tw-mx-auto"
  >
    <header class="tw-sticky tw-top-0">
      <div class="tw-pt-4 tw-bg-neutral-100 dark:tw-bg-neutral-800">
        <h1 class="tw-text-2xl tw-font-semibold tw-mb-1 secondary-text">
          {postFrontmatter.title}
        </h1>
        <small>
          {fromat_MMMM_dd_yyy(postFrontmatter.publishDate)}
        </small> - {readingTime(body).text}
      </div>
      <div
        class="dark:tw-h-6 dark:tw-bg-gradient-to-b dark:tw-from-neutral-800"
      >
      </div>
    </header>
    <PostNav post={post} />
    <hr />

    <slot name="post" />

    <footer>
      <PostNav post={post} />
      <hr />
      <Bio />
    </footer>
  </article>
</BaseLayout>
