---
import type { CollectionEntry } from 'astro:content';
import readingTime from 'reading-time';
import { AppConfig } from '../config/app';
import Bio from '../partials/Bio.astro';
import PostNav from '../partials/layouts/PostNav.astro';
import { fromat_MMMM_dd_yyy } from '../utils/date-fns';
import BaseLayout from './Base.astro';

export type Props = {
  post: CollectionEntry<'posts'>;
};

const { title, description } = AppConfig;
const { post } = Astro.props;
const { data: postFrontmatter, body } = post;
---

<BaseLayout head={{ title: postFrontmatter.title, description }}>
  <header slot="header">
    <h3>
      <a href="/" class="tw-text-lg tw-font-semibold tw-text-neutral-100">
        {title}
      </a>
    </h3>
  </header>
  <article slot="content" class="tw-prose tw-max-w-3xl tw-mx-auto">
    <header id="postHeader" class="tw-sticky tw-top-0">
      <div class="tw-pt-4 dark:tw-bg-neutral-800">
        <h1 id="postTite" class="tw-text-2xl tw-font-semibold tw-mb-1">
          {postFrontmatter.title}
        </h1>
        <small>
          {fromat_MMMM_dd_yyy(postFrontmatter.publishDate)}
        </small> - {readingTime(body).text}
      </div>
      <div class="tw-h-6 dark:tw-bg-gradient-to-b dark:tw-from-neutral-800">
      </div>
    </header>
    <PostNav post={post} />
    <hr />

    <slot name="post" />

    <footer>
      <PostNav post={post} />
      <hr />
      <Bio />
    </footer>
  </article>
</BaseLayout>
